<!DOCTYPE html>
<html lang="en">

<head>
    <title>sample ejs</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>Sample Ejs file</h1>
    <main>
        <div>DEFINE['example'] =
            <%= DEFINE['example'] %>
        </div>
        <ul>
            <% for(let i = 1; i <= 5; i++){ %>
                <li>
                    <%= DEFINE['example'] %>
                        <%= i %>
                </li>
                <%} %>
        </ul>
    </main>
</body>

</html>